<fieldset>
  <h3>New Notification</h3>
  <div id="new-notification-wrapper">
  <table class="table">
    <%= simple_form_for([current_user, @new_notification],
                        remote: true,
                        validate: true
                       ) do |n| %>

      <tr>
        <%= n.simple_fields_for :customer do |c| %>
        <td class="span5">
          <%= n.select :customer_id, options_for_select(current_user.customers.map{ |c| [c.full_name, c.id, {'data-phone' => c.phone}] }), include_blank: true %>
          <%= c.input :first_name, as: :hidden %>
          <%= c.input :last_name, as: :hidden %>
        </td>
        <td class="span5">
          <%= c.text_field :phone, placeholder: '1203952424' %>
        </td>
        <td class="span3">
          <%= hidden_field_tag 'notification[message]', "It's ready." %>
          <%= n.input :ready, label: "It's Ready", class: 'checkbox' %>
        </td>
        <td>
          <%= button_tag(:type => 'submit', :id => 'create-notification', :class => 'btn btn-primary', :'data-loading-text' => 'Creating...') do %>
            Create
          <% end %>
        </td>

        <% end %>
      </tr>
    <% end %>
  </table>
  </div>
</fieldset>
