<%= simple_form_for([current_user, @notification],
    html: {:class => 'form-horizontal' }) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :customer_id, class: 'control-label' %>
      <div class="controls">
        <%= collection_select(:notification, :customer_id, current_user.customers, :id, :full_name) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :message, class: 'control-label'%>
      <div class="controls">
        <%= f.text_area :message %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
