<%= render 'main_nav' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>It's Ready</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.customer.full_name %></td>
        <td><%= notification.message %></td>
        <td>
          <%= simple_form_for([current_user, notification]) do |f| %>
            <%= f.input :ready, label: false %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_user_notification_path(notification, current_user), class: 'btn btn-small' %></td>
        <td><%= link_to 'Destroy', [current_user, notification], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Notification', new_user_notification_path(current_user), class: 'btn btn-primary' %>
