<%= render 'main_nav' %>

<fieldset>
  <table class="table table-striped table-hover">
    <%= simple_form_for([current_user, Customer.new],
                        validate: true
                       ) do |f| %>

      <tr>
        <td class="span5">
          <% customers = current_user.customers.map{ |c| [c.full_name, c.id, {'data-phone' => c.phone}] } %>
          <%= collection_select(:notification, :customer_id, customers, :id, :full_name,
                                autofocus: true, include_blank: true) %>

          <%= f.select :id, options_for_select(current_user.customers.map{ |c| [c.full_name, c.id, {'data-phone' => c.phone}] }) %>

          <%= hidden_field_tag('customer[first_name]') -%>
          <%= hidden_field_tag('customer[last_name]') -%>
        </td>
        <td class="span5">
          <div class="input-prepend input-append">
            <span id="country-code-prepend" class="add-on"><span id="country-code-prefix" class="fui-plus-24"></span></span>
            <%= f.text_field :country_code, value: '84' %>
            <span id="country-code-append" class="add-on">-</span>
          </div>
          <%= f.text_field :phone, placeholder: '1203952424' %>
        </td>
        <%= f.simple_fields_for :notification do |n| %>
          <td><%= n.text_area :message %></td>
          <td><%= n.check_box :ready, class: 'checkbox' %>It's Ready</td>
        <% end %>
        <td><%= f.submit 'Create', class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </table>
</fieldset>

<table id="notifications-table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="span5">Name</th>
      <th class="span5">Phone</th>
      <th class="span2">Description</th>
      <th class="itsready">It's Ready</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.customer.full_name %></td>
        <td><%= number_to_phone(notification.customer.phone, country_code: notification.customer.country_code, delimiter: '.') %></td>
        <td><%= notification.message %></td>
        <td>
          <%= simple_form_for([current_user, notification]) do |f| %>
            <%= f.input :ready, label: false, input_html: {class: 'checkbox'}%>
          <% end %>
        </td>
        <td><%= link_to '', [current_user, notification], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn fui-cross-24' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
