<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @notification.customer_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<p>
  <strong>Ready:</strong>
  <%= @notification.ready %>
</p>

<p>
  <strong>Sent:</strong>
  <%= @notification.sent %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
