<%= simple_form_for(User.new,
                    :validate => true,
                    :html => {:class => 'form-vertical span5 offset5' }) do |f| %>
  <fieldset>
    <%= f.input :company, label: false, placeholder: 'Company Name' %>
    <%= f.input :email, label: false, placeholder: 'Email Address' %>
    <%= f.input :password, label: false, placeholder: 'Password' %>

    <div class="form-actions">
      <%= f.submit "Free Trial", class: 'btn btn-primary btn-large' %>
    </div>
  </fieldset>
<% end %>
