<%= render 'main_nav' %>

<%= link_to 'New Customer', new_user_customer_path, class: 'btn btn-large btn-primary' %>

<br />
<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.full_name %></td>
        <td><%= number_to_phone(customer.phone, delimiter: '.') %></td>
        <td><%= link_to 'Edit', edit_user_customer_path(current_user, customer), class: 'btn' %></td>
        <td><%= link_to '', [current_user, customer], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger fui-cross-24' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
