<%= render 'main_nav' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.full_name %></td>
        <td><%= number_to_phone(customer.phone, country_code: customer.country_code) %></td>
        <td><%= link_to 'Edit', edit_user_customer_path(current_user, customer), class: 'btn btn-small' %></td>
        <td><%= link_to 'Destroy', [current_user, customer], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_user_customer_path, class: 'btn btn-primary' %>
