<%= content_for :navbar do %>
  <ul class="nav pull-right">
    <li><a href="<%= user_notifications_path(current_user) %>"> Notifications</a></li>
    <li><a href="<%= user_customers_path(current_user) %>">Customers</a></li>
    <li class="active"><a href="<%= reports_path %>">Reports</a></li>
    <li class="divider-vertical"></li>
    <li><a href="/logout">Log out</a></li>
  </ul>
<% end %>

<%= yield %>
